* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #000F20;
  line-height: 1.4;
  font-size: 16px;
  background-color: #6DCFFD;
}

nav {
  background-color: #000F20;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
 padding: 16px;
 margin-bottom: 88px;
}

nav a {
  font-size: 1rem;
  color: #6DCFFD;
  text-decoration: none;
  padding: 0 16px;
}

h1{
  padding: 16px;
  font-size: 5rem;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

p{
  font-size: 1.3rem;
  padding: 8px;
}

h2{
  font-size: 2.3rem;
  padding: 8px;
}

h3{
  font-size: 1.5rem;
}

.home {
margin: 0 auto;
max-width: 800px;
text-align: center;
display: flex;
flex-direction: column;
}

.home2 {
     animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.rsvp {
  margin: 16px auto;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #fdb44b;
  padding: 15px 50px;
  border-radius: 15px;
}

.about {
  margin: 0 32px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.first {
  border-radius: 48px;
  grid-row: 1 / 2;
  grid-column: 1 / 1;
}

.second {
   border-radius: 48px;
  grid-row: 2 / span 3;
  grid-column: 1 / 1;
}

.third {
   border-radius: 48px;
  grid-row: 1 / span 2;
  grid-column: 3 / 3;
  margin-top: 200px;
}

.bday {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  align-content: end;
}
.info {
grid-row: 2 / 2;
grid-column: 2 / 2;
align-content: start;
}

.schedule {
  margin: 16px 32px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}

.start {
  padding-top: 40px;
  
}

ul {
  list-style: none;
}

li {
  padding-top: 40px;
}


@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


@media (max-width: 480px) {



}