* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 20px;
}

nav {
  /*testing*/
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  font-size: 10px;
  color: whitesmoke;
  text-decoration: none;
}

.home {
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.rsvp {
  font-size: 16px;
  text-decoration: none;
  background-color: red;
  padding: 15px 32px;
  border-radius: 10px;
}

