* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16px;
}

nav {
  /*testing*/
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  font-size: 0.8rem;
  color: whitesmoke;
  text-decoration: none;
}

h1{
  padding: 16px;
  font-size: 5rem;
}

p{
  font-size: 1.3rem;
  padding: 16px;
}

h2{
  font-size: 2.3rem;
  padding: 8px;
}

.home {
margin: 0 auto;
max-width: 800px;
text-align: center;
display: flex;
flex-direction: column;
}

.rsvp {
  margin: 0 auto;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: red;
  padding: 15px 50px;
  border-radius: 15px;
}

.about {
  margin: 0 32px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

img {
  border-radius:48px;
  max-width: 100%;
  height: auto;
}

.first {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.second {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

.third {
  grid-row: 1 / 2;
  grid-column: 3 / 3;
}

.info {
grid-row: 1 / 2;
grid-column: 2 / 2;
}

